.mat-expansion-panel .mat-expansion-panel-header.cdk-keyboard-focused:not([aria-disabled='true']),
.mat-expansion-panel .mat-expansion-panel-header.cdk-program-focused:not([aria-disabled='true']),
.mat-expansion-panel:not(.mat-expanded) .mat-expansion-panel-header:hover:not([aria-disabled='true']) {
  background: transparent;
}

.routes-form {
  width: 340px;
  max-height: 100vh;
  box-sizing: border-box;
  padding: 10px;
  overflow-y: auto;

  &__instruction {
    margin: 10px auto 0;
    text-align: center;
    line-height: 1.4;
    width: 75%;
  }

  .routes-list {
    &__headers,
    &__bodies {
      margin-top: 10px;
    }

    &__headers,
    &__bodies-item {
      display: flex;
      align-items: center;
    }

    &__bodies-item:not(:first-child) {
      margin-top: 10px;
    }

    &__headers-title,
    &__bodies-item-title {
      width: 60%;
    }

    &__headers-height,
    &__headers-time {
      display: flex;
      align-items: center;
      .mat-icon {
        margin-left: 3px;
        width: 12px;
        height: 12px;
      }
    }

    &__bodies-item-title {
      display: flex;
      align-items: center;
      &-text {
        display: flex;
        flex-direction: column;
        padding-left: 10px;
      }
    }

    &__headers-height,
    &__bodies-item-height,
    &__headers-time,
    &__bodies-item-time {
      width: 20%;
    }

    &__headers-height,
    &__headers-time {
      cursor: pointer;
    }

    &__buttons {
      display: flex;
      margin-top: 1rem;
      & > .mat-stroked-button {
        width: 50%;
      }
    }
  }
}

.route-icon {
  position: absolute;
  right: 0;
  bottom: 8px;
  cursor: pointer;
}

.sts-icon {
  position: absolute;
  right: 15px;
  bottom: 8px;
}

.full-width {
  width: 100%;
}

.autocomplete {
  .route-icon {
    background-color: #181f2e;
  }
  /*&__options {
    position: absolute;
    top: 115%;
    left: -12px; // хардкод из-за лишних обёрток, за которыми не уследить
    width: 288px; // хардкод из-за лишних обёрток, за которыми не уследить
    max-height: calc(59px * 3); // todo временно
    background-color: #2f3543;
    border-radius: 5px;
    z-index: 1;
    overflow: auto;
    &-item {
      padding: 10px;
      min-height: 50px;
      cursor: pointer;
      transition: background-color 0.1s;
      &:first-of-type {
        border-radius: 5px 5px 0 0;
      }
      &:last-of-type {
        border-radius: 0 0 5px 5px;
      }
      &:hover {
        background-color: #434955;
      }
      .mat-icon {
        margin-right: 10px;
      }
      &-text {
        display: flex;
        flex-direction: column;
      }
    }
  }*/
}

:host ::ng-deep .mat-expansion-panel-body,
:host ::ng-deep .mat-expansion-panel-header {
  padding: 0;
}

:host ::ng-deep .mat-button-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;

  .mat-icon {
    margin-right: 8px;
  }
}

:host ::ng-deep .mat-stroked-button {
  padding: 0 8px !important;
}
