<section class="routes-dialog-title" mat-dialog-title>
  <span>Маршрут</span>
  <div class="routes-dialog-title__actions">
    <mat-icon svgIcon="maximize" class="routes-dialog-title__actions-fullscreen" (click)="openDialog()"></mat-icon>
    <mat-icon svgIcon="close" class="routes-dialog-title__actions-close" mat-dialog-close></mat-icon>
  </div>
</section>
<mat-dialog-content class="routes-dialog-content">
  <mat-form-field appearance="outline" class="routes-dialog-content__textarea">
    <mat-label>Маршрут</mat-label>
    <label>
      <textarea matInput></textarea>
    </label>
  </mat-form-field>
  <app-routes-table></app-routes-table>
</mat-dialog-content>
